body{
  background-color: #777777;
  font-family: 'Arial', 'Helvetica Neue', 'Helvetica', 'sans-serif';
    font-size: 18px;
    font-weight: normal;

    font: normal 18px Arial, Helvetica, sans-serif;

    line-height:1.6em;
    margin:0px;
  }

  .background{
    background-color:#777777;
  }

  .aside{
  background-color:#ebebeb;
  color:#777777;
  height: 120px;
  width: 495px;
  float:right;
  text-align: center;
}

.section {
  background-color:#ebebeb;
  float: left;
  width:495px;
  text-align:center;
  float:left;
  padding-bottom: 0px;
}

.container{
  text-align: center;
padding width: 45px
}

.article {
  text-align:center;
}

.footer{
  background-color: #ebebeb
  position: static;

}
